.hero{
  background: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(../img/hero_clash.jpg) no-repeat center;
  background-size: cover;

}

@media (min-width: 600px) {
    .hero{
        background: 
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url(../img/hero_big.jpg) no-repeat center;
        background-size: cover;
        height: 100vh;
    }
}

article {
    padding-top: 100px;
}

main h2 {
    padding-bottom: 1rem;
}
main h3 {
    padding-top: 20px;
    padding-bottom: 15px;
}

main p {
    text-align: left;
    text-indent: 2rem;
    text-align: justify;
}

main time {
    padding-bottom: 0.2rem;
    font-style: italic;
}

main ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main li {
    border: solid 1px;
    padding: 5px;
    margin: 10px;
    transition: 0.2s ease-in-out;
}

main li:hover {
    text-decoration: none;
    color: white;
    background: linear-gradient(135deg, var(--gradient-primary-start), var(--gradient-primary-end));
    transform: scale(1.1);
}

.game-article {
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-article img {
    width: 90%;
    max-width: 648px;
}

.game-article img:hover {
    animation: glitch 0.3s ease-in-out;
}

@media (min-width: 1080px) {
    main h2 {
        text-align: left;
    }

    main p {
        text-indent: 4rem;
        max-width: 1080px;
        text-align: center;

    }
}

@media (min-width: 1420px) {
    article {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    main p {
        text-align: left;
        text-indent: 2rem;
        text-align: justify;
    }
    section {
        padding: 20px;
    }

    article:nth-child(odd) {
        flex-direction: row-reverse;
    }

}