.hero{
  background: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(../img/hero_clash.jpg) no-repeat center;
  background-size: cover;

}

@media (min-width: 600px) {
    .hero{
        background: 
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url(../img/hero_big.jpg) no-repeat center;
        background-size: cover;
        height: 100vh;
    }
}

main h2 {
    padding-top: 100px;
}

main p {
    text-align: left;
}

main time {
    padding-bottom: 0.5rem;
}

.game-article {
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-article img {
    width: 90%;
    max-width: 600px;
}

.game-article img:hover {
    animation: glitch 0.3s ease-in-out;
}