header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header nav ul {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-end;
    list-style-type: none;
}

@media (min-width: 321px) {
    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    input,
    textarea {
        max-width: 20rem;
    }
}

header nav img {
    width: 50px;
}

main {
    padding: 2rem;
}

hgroup {
    text-align: center;
    padding: 2rem 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

input,
textarea {
    border-radius: 5px;
}