main {
    padding: 2rem;
}

hgroup {
    text-align: center;
    padding: 2rem 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

input,
textarea {
    border-radius: 5px;
}