main {
    padding: 2rem;
    min-height: 0;
}

hgroup {
    text-align: center;
    padding: 2rem 0;
}

h1 {
    padding: 2rem 0 0 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

input,
textarea {
    border: solid 4px ;
    border-image: linear-gradient(90deg, var(--gradient-primary-start), var(--gradient-primary-end));
    border-image-slice: 1;
    padding: 0.2rem;
    margin: 0.2rem;
    background-color: #333333;
    color: white;
}

.flex_row,
.flex_row_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

label:has(+ input[required])::before {
    content: '* ';
    color: var(--gradient-primary-start);
}

input[type="radio"]:checked {
    accent-color: var(--gradient-primary-start);
}

input:not([type="submit"]):hover,
textarea:hover {
    background-color: #3e3d3d;
}

[type="submit"] {
    background: linear-gradient(90deg, var(--gradient-primary-start), var(--gradient-primary-end));
    color: white;
    cursor: pointer;
    border: none;
}

[type="submit"]:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--gradient-primary-start);
}

@media (min-width: 700px) {

    .flex_row_container {
        display: flex;
        justify-content: center;
    }

    fieldset:not(.flex_row):not(.button_submit) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        max-width: 900px;
        align-items: center;
        width: 100%;
        margin: auto;
    }

    .button_submit{
        width: 200px;
        margin: auto;
    }
}
