main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px 10px;
}


.hero{
  background: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(../img/hero_img_1.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  padding: 40px 5px;
}

.hero .up_text{
  font-size: 1.5rem;
  margin-top: 280px;
  letter-spacing: 5px;
}

.slider-1{
    max-width: 600px;
    margin: 10px auto;
    overflow: hidden;
    height: 82px;

    border-bottom: double white 4px;
    border-top: double white 4px;
}

.slider-1 .slider{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    animation: slider-vertical 12s infinite ease-in-out;
}

.slider-1 p{
    background: transparent;
    flex-shrink: 0;
    padding: 12px 10px;
    width: 100%;
    text-align: center;
    color: #f1f1f1;
    font-size: 2.5rem;
    font-family: var(--title-font);
    letter-spacing: 3px;
}

@keyframes slider-vertical{
    0%,20%{transform: translateY(0);}
    25%,45%{transform: translateY(100%);}
    50%,70%{transform: translateY(200%);}
    75%,95%{transform: translateY(300%);}
    100%{transform: translateY(400%);}
}
